@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*
.avlJobs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(226, 204, 242, 0.5);
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 2rem;
}

.avlTitle {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.avlTitle div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



nav button{
  border: 1px solid #6E00BE;
  border-radius: 2rem;
  color: white;
  font-family: "Noto Sans", sans-serif;

  cursor: pointer;
  background-color: #6E00BE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.avlTitle h4{
  font-size: 60px;
  color: #37005F;
  margin-bottom: 45px;
}

.avlTitle p{
  color: gray;
  font-size: 16px;
}

.avlList{
  padding: 1rem 4rem;
  display: flex;
  flex-direction: row;
  row-gap: 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.allJobsButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.allJobsButton button{
  font-size: 18px;
  color: black;
  background: none;
  border: none;
  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
}
*/

.avlJobs {
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
  background-color: rgb(226, 204, 242, 0.3);

}

.title {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.title p {
  color: #37005F;
  font-weight: bold;
  font-size: 60px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.filter div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.filter div p {
  font-weight: 600;
  font-size: 16px;
  color: gray;
  font-family: "Noto Sans", sans-serif;
}

.filter div button{
  padding: 0.7rem 2.5rem;
  background-color: #6E00BE;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin: 0rem 1rem;
  font-family: "Noto Sans", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 830px) {
  .title p {
    font-size: 54px;
  }
}

@media (max-width: 775px) {
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 740px) {
  .title p {
    font-size: 50px;
  }
}

@media (max-width: 690px) {
  .title p {
    font-size: 44px;
  }
}

@media (max-width: 610px) {
  .title p {
    font-size: 38px;
  }
}

@media (max-width: 535px) {
  .title p {
    font-size: 30px;
  }
}

@media (max-width: 445px) {
  .title p {
    font-size: 30px;
  }

  .filter div p {
    font-weight: 600;
    font-size: 12px;
    color: gray;
    font-family: "Noto Sans", sans-serif;
  }

  .filter div button{
    padding: 0.4rem 1.5rem;
    background-color: #6E00BE;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin: 0rem 1rem;
  }
}

@media (max-width: 420px) {
  .title {
    justify-content: center;
  }
  
  .title p {
    font-size: 26px;
  }

}

/* * * * * * * * * * * */

.jobShowcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3rem;
  gap: 3rem 0.5rem;
}

.avlJobNav{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.avlJobNav button{
  font-size: 18px;
  color: black;
  background: none;
  border: none;
  padding: 0.5rem 0.5rem;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
  border: 2px solid #6E00BE;
  border-radius: 3rem;
  display: flex;
}



