@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
}

.headerLogo {
  background-color: #6E00BE;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.headerMiddle {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.headerRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 1rem;
}

.headerMiddle button {
  background: none;
  border: none;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  color: #37005F;
  font-weight: 600;
  margin: 0 2rem;
  cursor: pointer;
}

.headerRight button {
  background-color: #6E00BE;
  color: white;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;

}


@media (max-width: 720px) {
  .headerMiddle button {
    background: none;
    border: none;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    color: #37005F;
    font-weight: 600;
    margin: 0 1rem;
  }

  .headerRight button {
    background-color: #6E00BE;
    color: white;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 1rem;
  }

}

@media (max-width: 480px) {
  .headerLogo {
    padding: 0.5rem
  }
}

@media (max-width: 410px) {
  .headerRight{
    display: none;
  }
}

@media (max-width: 360px){
  .headerMiddle button {
    margin: 0rem;
  }


}

@media (max-width: 330px){
  .headerLogo {
    padding: 0rem
  }
}