@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #6E00BE;
  font-family: "Noto Sans", sans-serif;
  padding: 3rem 1rem;
}

.footerLeft {
  display: flex;
  flex-direction: column;
}

.footerLeft img{
  margin-bottom: 1rem;
}

.socialMedia{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footerRight {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  gap: 0rem 1rem;
  justify-content: space-around;
}

/* * * * * * * * * */

.navBar {
  display: flex;
  flex-direction: column;
}

.navBar p{
  font-size: 20px;
  font-weight: 500;

}

.navBar ul{
  padding: 0;
}

.navBar li{
  list-style: none;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 535px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .footerRight {
    width: 100%;
    flex-wrap: wrap;
    gap: 0rem 0.3rem;
    justify-content: space-around;
  }
}

