@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.tag {
  display: flex;
  flex-direction: row;
  border: 1px solid #6E00BE;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s;
}

.tag p {
  margin: 0;
  margin-right: 1rem;
  font-size: 17px;
  color: black;
  transition: 0.2s;

}

.tag span {
  padding: 0.2rem;
  border-radius: 1rem;
  font-size: 12px;
  width: 2.5rem;
  transition: 0.2s;

}

a {
  text-decoration: none;
}

.job {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37005F;
  font-family: "Noto Sans", sans-serif;
  color: white;
}

.tag:hover {
  background: #37005F;
  border-color: #37005F;
}

.tag:hover p{
  color: white;
}

.tag:hover span {
  background-color: white;
  color: #37005F;
}

@media (max-width: 490px) {
  .tag {
    padding: 0.2rem 0.2rem;
    border-radius: 2rem;
  }

  .tag p {
    margin: 0;
    margin-right: 1rem;
    font-size: 13px;
    color: black;
  }

  .tag span {
    padding: 0.2rem;
    border-radius: 1rem;
    font-size: 10px;
    width: 2.5rem;
  }

  .job {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 380px) {
  .tag {
    padding: 0.2rem 0.2rem;
    border-radius: 2rem;
  }

  .tag p {
    margin: 0;
    margin-right: 0.4rem;
    font-size: 13px;
    color: black;
  }

  .tag span {
    padding: 0.2rem;
    border-radius: 1rem;
    font-size: 10px;
    width: 1.5rem;
  }

  .job {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}