@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.tag {
  display: flex;
  flex-direction: row;
  border: 1px solid #6E00BE;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  justify-content: space-between;
  cursor: pointer;
}

.tag p{
  margin: 0;
  margin-right: 1rem;
  font-size: 17px;
  color: black;
}

.tag span{
  padding: 0.2rem;
  border-radius: 1rem;
  font-size: 12px;
  width: 2.5rem;
}

.job{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37005F;
  font-family: "Noto Sans", sans-serif;
  color: white;

}