@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.title {
  display: flex;
  justify-content: center;
}

.title p {
  font-size: 24px;
  color: #37005F;
  font-weight: 600;
  font-family: 'Noto Sans', sans-serif;
}

.tagList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  gap: 1rem;
  margin-bottom: 2rem;
}


.navMore {
  display: flex;
  justify-content: center;

}

.navMore button{
  background: none;
  font-size: 20px;
  color: #37005F;
  font-weight: 600;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  cursor: pointer;
}

@media (max-width: 800px) {

  .tagList {
    width: 100%;
  }


  .tagList {
    gap: 1rem 1rem;
  }
}

@media (max-width: 800px) {
  .tagList {
    gap: 1rem 0.5rem;
  }
}