@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.companyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.companyTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.companyList p{
  font-size: 16px;
  font-weight: 600;
  color: #37005F;
  font-family: 'Noto Sans', sans-serif;
}

/* * * * * * * * * * * * */

.companyShowcase{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 1rem;
}