@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.home{
  display: flex;
  flex-direction: row;
}

.homeLeft{
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
  background-color: #37005F;
  background-image: url(../../Assets/HomeAssets/HomeBG.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
}

.homeText{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.homeText p{
  font-family: "Lora", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
}

@media (max-width: 560px) {
  .homeText p{
    font-size: 44px;
  }
}

@media (max-width: 390px) {
  .homeText p{
    font-size: 40px;
  }
}

@media (max-width: 330px) {
  .homeText p{
    font-size: 36px;
  }
}

/* * * * * * * * * * * * * * */

.searchSection {
  justify-content: center;
  display: flex;
  margin-bottom: 1rem;
}

.searchSection input {
  height: 3rem;
  padding: 0.5rem 1rem;
  color: gray;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  border-right: 1px solid gray;

}

.inputStarter{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchSection button{
  background-color: #6E00BE;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  width: 15%;
  font-size: 1.2rem;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchSection a{
  background-color: #6E00BE;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  
  width: 15%;
  font-size: 1.2rem;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

@media (max-width: 790px) {


  .searchSection a{
    font-size: 14px;
  }
  
}

@media (max-width: 545px) {
  .searchSection input {
    height: 2rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0;
    color: gray;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    outline: none;
    text-align: center;
    border: none;
  }

  .searchSection a{
    font-size: 14px;
  }
  
}

@media (max-width: 435px) {
  .searchSection input {
    height: 2rem;
    padding: 0rem 0rem;
    border-radius: 0;
    color: gray;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    outline: none;
    border: none;
    text-align: center;

  }
  
}

@media (max-width: 395px) {
  .searchSection {
    justify-content: center;
    flex-direction: column;
    display: flex;
    
  }

  .searchSection input {
    margin-bottom: 1rem;
    text-align: center;
  }

  .searchSection a{
    background-color: #6E00BE;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    border: none;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    height: 2rem;
  }
  
}

/* * * * * * * * * * * * * * */

.homeRight{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  background-color: #E2CCF2;
}

.logoConteiner{
  display: flex;
  width: 65%;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #6E00BE;
  border-radius: 3rem;
  padding: 0rem 1rem;
}

.logoConteiner div{
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 970px) {
  .logoConteiner{
    width: 80%;
    height: 50%;
  }
}

@media (max-width: 765px) {
  .homeRight {
    display: none;
  }

  .homeLeft{
    width: 100%;
  }
}

